@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fbf9f5;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}

.animation {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.badge {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    letter-spacing: -0.02em;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
    border-radius: 99px;
    align-items: center;
    margin-bottom: 16px;
    padding: 6px 12px 6px 10px;
    font-size: 14px;
    line-height: 1.8;
    display: flex;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
        inset 0 2px 12px rgba(255, 255, 255, 0.04);
}

.bg-gradient {
    background-image: linear-gradient(to top, #fbf9f5 0%, #d8e0f5db 100%);
}

.DialogOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.card-cover {
    -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
  line-height: 1.8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
}
